absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.1.1
altgraph==0.17.3
appdirs==1.4.4
appnope==0.1.3
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
biopython==1.81
blinker==1.6.2
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
cli-helpers==2.3.0
click==8.1.3
comm==0.1.3
configobj==5.0.8
contourpy==1.1.0
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
discord==2.2.3
discord.py==2.2.3
distlib==0.3.6
dnspython==2.4.2
docutils==0.20.1
exceptiongroup==1.1.3
executing==1.2.0
ffpyplayer==4.5.0
filelock==3.11.0
Flask==2.3.2
flatbuffers==23.5.26
fonttools==4.40.0
Frozen-Flask==0.18
frozendict==2.3.8
frozenlist==1.3.3
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.35
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.57.0
h11==0.14.0
h5py==3.9.0
html5lib==1.1
idna==3.4
importlib-metadata==6.8.0
ipykernel==6.23.2
ipython==8.14.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter_client==8.2.0
jupyter_core==5.3.1
keras==2.13.1
Kivy==2.2.0
Kivy-examples==2.2.0
Kivy-Garden==0.1.5
kiwisolver==1.4.4
libclang==16.0.6
lxml==4.9.2
macholib==1.16.2
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
multidict==6.0.4
multitasking==0.0.11
nest-asyncio==1.5.6
numpy==1.24.3
oauthlib==3.2.2
opt-einsum==3.3.0
outcome==1.2.0
packaging==23.1
pandas==2.0.1
parso==0.8.3
pendulum==2.1.2
pexpect==4.8.0
pgcli==3.5.0
pgspecial==2.1.0
pickle-mixin==1.0.2
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.2.0
prompt-toolkit==3.0.38
protobuf==4.24.2
psutil==5.9.5
psycopg==3.1.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydeck==0.8.0
pygame==2.4.0
Pygments==2.15.1
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pymongo==4.5.0
Pympler==1.0.1
pyparsing==3.1.0
PySocks==1.7.1
python-dateutil==2.8.2
PythonTurtle==0.3.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
pyzmq==25.1.0
referencing==0.30.2
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.5.2
rpds-py==0.10.2
rsa==4.9
selenium==4.12.0
setproctitle==1.3.2
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.4
stack-data==0.6.2
streamlit==1.26.0
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-macos==2.13.0
termcolor==2.3.0
tk==0.1.0
toml==0.10.2
toolz==0.12.0
tornado==6.3.2
traitlets==5.9.0
trio==0.22.2
trio-websocket==0.10.4
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3.1
urllib3==1.26.16
validators==0.22.0
virtualenv==20.21.0
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.3.4
wrapt==1.15.0
wsproto==1.2.0
yarl==1.9.2
yfinance==0.2.28
zipp==3.16.2
