<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <script src="https://kit.fontawesome.com/88bbac2ebc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika">
    </head>
    <body>
        <nav> 
            <ul> 
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About Me</a></li>
                <li><a href=https://drive.google.com/file/d/1lFnDWbNBjfLs6UXUFpW0nqwpNGeue3Hi/view?usp=drive_link>Resume</a></li>
            </ul>  
        </nav>
        <h1>About Me</h1>
            <h3>My interests</h3>
            <div class="arrow">
           <p><i class="arrow fa-solid fa-chevron-down fa-xl"></i></p>
            </div>
        <p>
            <div class="column-4 project-1">
                <h2 class="project-text">GAMING<p><i class="fa-solid fa-gamepad fa-2xl"></i></p></h2>
            </div>
            
            <div class="column-4 project-2">
              <h2 class="project-text">MUSIC<p><i class="fa-solid fa-record-vinyl fa-2xl"></i></p></h2>
            </div>
            
            <div class="column-4 project-3">
              <h2 class="project-text">DRAWING<p><i class="fa-solid fa-pencil fa-2xl"></i></p></h2>
            </div>
            
            <div class="column-4 project-4">
              <h2 class="project-text">ANIME<p><i class="fa-solid fa-tv fa-2xl"></i></p></h2>
            </div>
            
            <div class="column-4 project-5">
              <h2 class="project-text">HUNTING & FISHING<p><i class="fa-solid fa-campground fa-2xl"></i></p></h2>
            </div>
            
            <div class="column-4 project-6">
              <h2 class="project-text">CARS<p><i class="fa-solid fa-car fa-2xl"></i></p></h2>
            </div>
            
            <div class="column-4 project-7">
              <h2 class="project-text">COOKING<p><i class="fa-solid fa-kitchen-set fa-2xl"></i></p></h2>
            </div>
            
            <div class="column-4 project-8">
                <h2 class="project-text">ANTIQUE SHOPPING<p><i class="fa-solid fa-stamp fa-2xl"></i></p></h2>
            </div>

            <div class="column-4 project-9">
                <h2 class="project-text">CRAFT BEER <p><i class="fa-solid fa-beer-mug-empty fa-2xl"></i></p></h2>
            </div>
        </p>    
    </body>
</html>
