<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <script src="https://kit.fontawesome.com/88bbac2ebc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika">
    </head>
    <body>
        <nav> 
            <ul> 
                <li><a href="/">Home</a></li>
                <li><a href=https://drive.google.com/file/d/18H-BKEzBIj79MLA0-WJ7cWb_yLksWVoG/view?usp=drive_link>Resume</a></li>
            </ul>  
        </nav>
          <h1>Kelsey Hill</h1>
          <h2><i class="fa-solid fa-location-dot"></i> Corpus Christi, Texas</h2>
        <a href="https://www.linkedin.com/in/kelseykazoo777/" class="fa fa-linkedin"></a>
        <a href="https://github.com/kelseykazoo" class="fa fa-github"></a>
          <h3>Hello! <i class="fa-regular fa-face-laugh"></i></h3>
          <p>
            <ul>
                <div class="bio">
                <li>I am a current <s>drug dealer</s> certified pharmacy technician  <i class="fa-solid fa-prescription"></i></li>
                <li>A student enrolled at Purdue Global University  <i class="fa-solid fa-graduation-cap"></i> pursuing a bachelor's degree in Information Technology focused in Software Development</li>
                <li>An aspiring software engineer <i class="fa-solid fa-terminal"></i></li>
            </ul>
        </div>
        <h3>My interests</h3>
            <div class="arrow">
           <p><i class="arrow fa-solid fa-chevron-down fa-xl"></i></p>
            </div>
        <p>
            <div class="column-4 project-1">
                <h2 class="project-text">GAMING<p><i class="fa-solid fa-gamepad fa-2xl"></i></p></h2>
            </div>
            
            <div class="column-4 project-2">
              <h2 class="project-text">MUSIC<p><i class="fa-solid fa-record-vinyl fa-2xl"></i></p></h2>
            </div>
            
            <div class="column-4 project-3">
              <h2 class="project-text">DRAWING<p><i class="fa-solid fa-pencil fa-2xl"></i></p></h2>
            </div>
            
            <div class="column-4 project-4">
              <h2 class="project-text">ANIME<p><i class="fa-solid fa-tv fa-2xl"></i></p></h2>
            </div>
            
            <div class="column-4 project-5">
              <h2 class="project-text">HUNTING & FISHING<p><i class="fa-solid fa-campground fa-2xl"></i></p></h2>
            </div>
            
            <div class="column-4 project-6">
              <h2 class="project-text">CARS<p><i class="fa-solid fa-car fa-2xl"></i></p></h2>
            </div>
            
            <div class="column-4 project-7">
              <h2 class="project-text">COOKING<p><i class="fa-solid fa-kitchen-set fa-2xl"></i></p></h2>
            </div>
            
            <div class="column-4 project-8">
                <h2 class="project-text">ANTIQUE SHOPPING<p><i class="fa-solid fa-stamp fa-2xl"></i></p></h2>
            </div>

            <div class="column-4 project-9">
                <h2 class="project-text">CRAFT BEER <p><i class="fa-solid fa-beer-mug-empty fa-2xl"></i></p></h2>
            </div>
        </p> 
    </body>
</html>
